body {
    background: linear-gradient(to right, #74ebd5, #ACB6E5);
    font-family: 'Segoe UI', sans-serif;
}

.form-box {
    max-width: 600px;
    border-radius: 15px;
    background: white;
}

h2 {
    font-weight: bold;
    color: #333;
}

.btn-primary {
    background-color: #6c63ff;
    border: none;
}

.btn-primary:hover {
    background-color: #5146d8;
}